<div class="main-content">
  <!-- Form for Adding a Schedule -->
  <div class="form-card">
    <div class="form-container">
      <div class="input-group">
        <label>Type:</label>
        <select [(ngModel)]="type">
          <option value="plastic">Plastic</option>
          <option value="glass">Glass</option>
          <option value="paper">Paper</option>
          <option value="batteries">Batteries</option>
          <option value="organic">Organic</option>
        </select>
      </div>
      <div class="input-group">
        <label>Date:</label>
        <input type="date" [(ngModel)]="date" (change)="onDateChange($event)" />
      </div>
      <div class="input-group">
        <label>Time:</label>
        <input type="time" [(ngModel)]="time" />
      </div>
      <div class="input-group">
        <label>Location:</label>
        <input type="text" [(ngModel)]="location" placeholder="Enter location" />
      </div>
      <button (click)="addSchedule()" class="save-button">Save</button>
    </div>
  </div>

  <!-- Schedule List -->
  <div class="schedule-card">
    <h3>Schedules</h3>
    <div class="schedule-item" *ngFor="let schedule of schedules; let i = index">
      <div class="schedule-details">
        <span><strong>Type:</strong> {{ schedule.type }}</span>
        <span><strong>Date:</strong> {{ schedule.date | date }} ({{ schedule.dayOfWeek }})</span>
        <span><strong>Time:</strong> {{ schedule.time }}</span>
        <span><strong>Location:</strong> {{ schedule.location }}</span>
      </div>
      <button (click)="removeSchedule(schedule._id!)" class="delete-button">
        X
      </button>
    </div>
  </div>

  <!-- Back to Home Button -->
  <div class="back-button-container">
    <button (click)="goBackHome()" class="back-home-btn">Back to Home</button>
  </div>
</div>


