.main-content {
  padding: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  width: 1300px;
  text-align: left;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1300px;
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-type label {
  font-weight: bold;
  margin-right: 5px;
}

.filter-type select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.filter-date button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  cursor: pointer;
}

.filter-date button:hover {
  background-color: #e0e0e0;
}

.history-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-date {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  width: 1300px;
}

.history-entry {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 1300px;
  margin-bottom: 20px;
  text-align: left;
}

.schedule-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-item {
  display: flex;
  gap: 150px;
}

.clear-button {
  background-color: #1e7d35;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.clear-button:hover {
  background-color: #145a27;
}


  /* Back Button Styling */
  .back-button-container {
    margin-top: 20px; /* Adds some space above the button */
    display: flex;
    justify-content: center; /* Center the button */
  }
  
  .back-home-btn {
    background-color: #2e7d32; /* Dark green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-home-btn:hover {
    background-color: #1b5e20; /* Darker green on hover */
  }
