<div class="role-selection-container">
  <div class="welcome-text">
    <h2> GREEN TECH </h2>
    <h4> Revolutionizing Waste Through Technologies </h4>
    <div class="role-buttons">
      <a routerLink="/user-login" class="role-btn">COMMUNITY USER LOGIN</a>
      <a routerLink="/user-register" class="role-btn">COMMUNITY USER REGISTER</a>
      <a routerLink="/admin-login" class="role-btn">ADMIN LOGIN</a>
      <a routerLink="/admin-register" class="role-btn">ADMIN REGISTER</a>

    </div>
  </div>
</div>